html body, div, dd, dt, dl, img, ul, ol, li, p, h1, h2, h3, h4, h5, form, hr,
fieldset, label, input, textarea, select{
	font-family: Arial,Verdana Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

html{
	background-color: #DBD4C6;
}

input, textarea, select{
	border: 1px solid #C3BBB6;
	margin-right: 5px;
}

/* Layout
----------------------------------------------- */

#footer {
	padding: 5px;
	border-top: 1px solid #C3BBB6 ;
	text-align: center;	
}

/* common */

.message {
	border: 1px solid #FF9933;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width:100%;
	font-size: 12px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 150px;
	margin-top: 3px;
}
.value {
}

.buttonBox {
	border-top: 1px solid #C3BBB6;
	padding-right:10px;
	margin-top:10px;
	width:100%;
}

.error {
	padding: 5px;
}
.errors {
	color: #CC0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea{ 
	border: 1px solid #CC0000; 
}

.required {
	color: #CC0000;
	padding-left: 2px;
}

/* customize richfaces */

.rich-panel{
	padding-top:0;
	border-right:0;
	border-bottom:0;
	border-top:0;
}

.rich-table{
	width:100%;
}