# Copy this file into build.properties and customize it
# Don't forget to ignore your new build.properties when you commit any code

#### jboss.dir: it is the deploy folder
#### root.dir: name of the main project. App is the main and compiles the other ones

jboss.dir=/Applications/jboss-4.2.3.GA/server/default/deploy
root.dir=../j2w-app

# If for any reason you see this message (linux only...):
# Cannot run program "mvn": java.io.IOException
# add this line but change the maven dir according to your system.
# This happens when you don't have maven installed in your system. Eg.: you donwloaded, extracted and added $MAVEN_HOME/bin to your $PATH
# You won't see this problem if you installed maven via apt-get.
#mvn_full_path=/home/leonardo/aajava/maven/current/bin/