# Copy this file into build.properties and customize it

#jboss.dir=/Applications/jboss-4.2.3.GA/server/phages/deploy
#jboss.dir=/Users/leonardo/aajava/jboss-5.1.0.GA/server/default/deploy
jboss.dir=/Users/leonardo_correa/aajava/jboss-5.1.0.GA/server/default/deploy
root.dir=../j2w-app

